.campaigns_main {
  background-color: rgb(236, 236, 253);
  padding: 5rem 0;
}

.campaigns__wrapper {
  max-width: 80rem;
  margin: 0 auto;
}

.conten_about {
  margin-bottom: 2.5rem;
}
.conten_about p {
  max-width: 35rem;
  margin: 0 auto;
}
.campaigns_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.campaigns-card-section {
  background-color: #ffff;
  cursor: pointer;
  border-radius: 1.5rem;
  overflow: hidden;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.campaigns_card_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  text-align: left;
}

.campaigns_title {
  font-weight: 700;
}
.C-title {
  color: rgb(109, 113, 116);
}

.learn-more {
  color: rgba(29, 111, 163, 1);
  font-weight: 700;
  padding: 1rem 0 0 0;
}
.campaigns-image-wrapper {
  width: 100%;
  height: 23rem;
  object-fit: cover;
}
